@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "open-sans-bold";
    font-style: normal;
    font-weight: 100;
    src: url("../assets/fonts/OpenSans/OpenSans-Medium.ttf") format("woff");
}
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "open-sans";
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("woff");
}
:root{
    --dark-blue: #020031;
    --orange: #FFB900;
    --light-blue: #F9F9F9;
    --blue: #ECECEC;
    --purple: #A43375;
    --gradient-start-color: rgba(253, 253, 253, 0.3); /* Light gradient start */
    --gradient-end-color: rgba(253, 253, 253, 0.2);   /* Light gradient end */
  
    --overlay-color: rgba(164, 51, 117, 0.8);         /* Overlay color */
  
    --stroke-start-color: rgba(255, 255, 255, 0.2);   /* Stroke start (white with opacity) */
    --stroke-mid-color-1: rgba(207, 0, 137, 0.1);     /* Stroke mid color 1 */
    --stroke-mid-color-2: rgba(207, 0, 137, 0.1);     /* Stroke mid color 2 */
  --stroke-end-color: rgba(207, 0, 137, 0.2);       /* Stroke end color */
  
  --shadow-blur: 20px;                              /* Shadow blur effect */
  --shadow-opacity: 0.2;                            /* Shadow opacity */
  --shadow-color: rgba(0, 0, 0, 0.2);               /* Shadow color */
}
.iyd-text-blue{
    color: var(--dark-blue);
}
.iyd-light-blue-bg{
    background-color: var(--light-blue) !important;
}
.iyd-bg-blue{
    background-color: var(--blue) !important;
}
.spa-bg-purple{
    background-color: var(--purple) !important;
}
.spa-text-purple{
    color: var(--purple) !important;
}
.iyd-blue-bg{
    background-color: var(--dark-blue);
}
body{
    font-family: 'open-sans', sans-serif;
}
ul{
    padding: 0;
}
.bold-font{
    font-family: "open-sans-bold";
}
.iyd-nav{
    box-shadow: 0px 2px 4px 0px #D3D3D380;
    position: absolute;
    top: 0;
    left: 0;
}
.xui-navbar[layout="2"] .links{
    width: 100%;
}
.xui-navbar[layout="2"] .links .main, .header-stats {
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* Gradient background */
    background: linear-gradient(
      to bottom, 
      var(--gradient-start-color), 
      var(--gradient-end-color)
    );
  
    /* Overlay color with opacity */
    position: relative;
  }
  .xui-navbar[layout="2"] .links .main::before, .header-stats::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(164, 51, 117, 0.8);
    opacity: 0.2;
    mix-blend-mode: overlay;
    border-radius: 50px;
  }
  
  .xui-navbar[layout="2"] .links .main, .header-stats {
    border-radius: 50px;
    padding: 0.5rem 1rem;
    /* Stroke effect (outline/border) */
    border-image: linear-gradient(
      to bottom, 
      var(--stroke-start-color), 
      var(--stroke-mid-color-1), 
      var(--stroke-mid-color-2), 
      var(--stroke-end-color)
    ) 1;
  
    /* Shadow */
    box-shadow: 0px 4px var(--shadow-blur) var(--shadow-color);
  }
  .header-stats{
    border-radius: 25px;
  }
  .xui-overlay-2{
    background-color: rgba(0,0,0,.25)
  }
.xui-navbar .links ul li a{
    color: #FFF;
}
.xui-navbar .links ul li{
    height: auto;
}
  
.xui-bg-none{
  background: none;
  border: none;
  outline: none;
}
.search-keyword{
  border: 1.5px solid #D9D9D9
}
.contact{
    background-color: #FFF;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem !important;
    border-radius: 50px;
    display: flex !important;
    align-items: center;
}
.contact span{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    border-radius: 50%;
}
.explore-btn{
    background-color: #FFF !important;
    border: 1px solid var(--purple);
    color: #000;
}
.stat:not(.stat:nth-child(3)){
    border-right: 1px solid #D3D3D3;
}
.grid-card:hover{
    background-color: var(--purple);
    color: #FFF;
}
.grid-card:hover span{
    background-color: #fff !important;
}
.grid-card:hover svg path{
    stroke: #000;
}
.grid-card{
    box-shadow: 0px 4px 50px 0px #A4337540;
    padding: 1rem;
    border-radius: 1rem;
    transition: .4s ease;
}

.alternative-nav-color{
  background-color: var(--light-blue);
}
  
  .iyd-header{
    background: #FCFCFC;
    z-index: 2;
    position: relative;
    backdrop-filter: blur(2rem);
  }
  
  .xui-navbar[layout="2"] .links{
    justify-content: space-between !important;
  }
 
  .hsd-loader-screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: var(--blue-light);
}
.hsd-loader-screen .hsd-loader-holder {
    margin-top: 16px;
    width: 100%;
    height: 4px;
    background-color: hsl(220, 52%, 15%);
    position: relative;
    overflow: hidden;
}
.hsd-loader-screen .hsd-loader-holder .hsd-loader-anime {
    width: 72px;
    height: 100%;
    background-color: var(--orange);
    position: absolute;
    top: 0;
    animation-name: loader;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: .8s;
    animation-timing-function: linear;
}
swiper-slide {
    width: 360px;
    transition: 1.2s;
}
/* Swiper Stylings */
/* .swiper-slide-active {
    max-width: 50%;
    width: 100%;
} */
.swiper{
    padding: 2rem 0 !important;
}
.team-swiper{
    height: 400px !important;
    width: 500px !important;
    padding: 0 !important;
}
.ca-testimonial-card {
    background-color: #FFFFFF;
    color: #000;
    padding: 2rem;
    box-shadow: 0px 4px 50px 0px #A4337540;
}
.ca-testimonial-card .profile {
    width: 50px;
    height: 50px;
}
.viewmore-pedicure-card{
    width: 33.1%;
}
.ca-testimonial-card .testimony-box {
    padding: 1rem;
    background-color: var(--purple-light);
    color: var(--purple-dark);
}
@keyframes loader {
    from {
        left: -72px;
    }
    to {
        left: 200px;
    }
}
@media screen and (max-width: 1024px) {
    .xui-navbar[menu="2"] .links .main, .xui-navbar[menu="2"] .menu.animate{
        position: fixed !important;
    }
    .xui-navbar .menu span{
        background-color: #FFF;
    }
    .contact{
        padding: .5rem !important;
    }
    .header-stats{
        display: flex;
        flex-wrap: wrap;
    }
    .stat{
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        border-right: none !important;
    }
    .stat:nth-child(1){
        margin-top: 0;
    }
    .xui-navbar[layout="2"] .links .main::before, .xui-navbar[layout="2"] .links .main{
        border-radius: 0;
    }
    .xui-navbar[layout="2"] .links .main{
        background-color: #000;
    }
    .team-swiper{
        width: 320px !important;
    }
}